@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf)
    format(opentype)
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body { 
    background-color:#3DDB84;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #025326;
    color:white;
    text-align: center;
    font-family: "Bebas Neue"
}
.curiosidades { 
    text-align: center;
}
nav > a { 
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
h2 {
 background-color:#32A868;
 font-family: "idroid";
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
iframe {
    display: block;
    height: 300px;
    margin: 0 auto;
    max-width: 100%
}
ul > li {
    box-shadow: 2px 2px 2px 2px rgba(9, 75, 9, 0.692);
    margin: auto;
    


}